.navbar{
    width: 200px;
    grid-area: navbar;
    display: inline-block;
    background-color: #5c7cff;
    min-height: 100%;
}
.navbar div{
    text-align: center;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Lora', serif;
}
.dailyReports{
    padding-top: 50px;
}
.addReport{
    padding-top: 50px;
}
.statistics{
    padding-top: 50px;
}