.wrapper{
  display: grid;
  grid-template-areas: "header header header" "navbar content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 50px;
  margin: 0 auto;
  width: 1200px;
  border-right:3px solid #5c7cff;
  min-height: 950px;
}

.content{
  grid-area: content;
}