.addReportForm{
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
}
.addReportForm input, textarea{
    border: 2px solid #5c7cff;
    border-radius: 10px;
    font-family: 'Lora', serif;
}
.addReportForm .amountSpent input{
    height: 30px;
    width: 300px;
    margin-top: 50px;
}
.addReportForm .amountSpent{
    margin-top: 50px;
}
.addReportForm .descriptionsOfExpenses{
    margin-top: 50px;
}
.addReportForm .descriptionsOfExpenses textarea{
    resize: none;
    width: 300px;
    height: 150px;
    overflow: scroll;
}
.addReportButton {
    margin-top: 50px;
    margin-left: 100px;
}
.addReportButton button {
    height: 25px;
}
.addReportText{
    width: 200px;
    margin: 0 auto;
    font-family: 'Lora', serif;
}
.formSummaryError {
    padding: 20px;
    color: red;
}